<title>
  Sofast</title>
<meta charset="utf-8">
<link rel='stylesheet' type='text/css' href='/sofast/html/plugin/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' type='text/css' href='/sofast/html/css/site.css'>
<script type='text/javascript' src='/sofast/html/plugin/angular/js/angular.js'></script>
<script type='text/javascript' src='/sofast/html/plugin/bootstrap/js/ui-bootstrap-tpls-1.3.3.js'></script>
<script type='text/javascript' src='/sofast/html/js/ui.js'></script>
<!-- <script type="text/javascript" src="/sofast/html/js/allJs.js"></script> -->