.login.header img {
  margin: 0 auto;
  display: block;
  padding: 30px 0 20px 0;
}

.login-main {
  margin: 10px auto;
  float: none;
}

.login-main .form-group>div,
.login-main .form-group>label.control-label {
  background-color: #DEDEDE;
}

.login-main .form-group>label.control-label {
  height: 45px;
  border-right: 2px solid #fff;
  width: 33.3333%;
  text-align: right;
  padding-top: 13px;
}

.login-main .form-group .form-control {
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  height: 45px;
}

.login-main .well {
  padding: 35px;
}

.page-maintenance {
  text-align: center;
}

.page-maintenance .page-maintenance-main {
  width: 600px;
  margin: 30px auto;
  padding: 40px 10px;
  border: 3px dashed #444;
}

.page-maintenance .page-maintenance-main h1 {
  font-size: 55px;
}

.register-main {
  /*	width: 800px;*/
  margin: 0 auto;
  padding-top: 30px;
}
