@media screen and (max-width: 1366px) {
	.mx-search .text-long {
		font-size: 12px;
		width: 25%;
	}
	.mx-search .text-long + div {
		width: 75%;
	}
	
}
@media screen and (min-width: 1770px) {
	.main-search.mx-search .form-group .navbar-text {
		line-height: 30px;
	}	
}